import('utils')
import('stats')
import('graphics')
import('grDevices')
import('glmnet')
import('ncvreg')
import('grpreg')
import('Matrix')
exportPattern("Fig")
exportPattern("Ex")
exportPattern("Tab")
export(genData)
export(genDataGrp)
export(genDataABN)
export(loadData)
export(ridge)
S3method(ridge, matrix)
S3method(ridge, formula)
S3method(summary, ridge)
S3method(plot, ridge)
S3method(predict, ridge)
S3method(coef, ridge)
S3method(confint, ridge)
